.footer {
  padding: 40px 80px;
  color: white;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-user-icon {
  font-size: 24px;
  color: #facc15;
}

.footer-email-input input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.footer-subcriber {
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.26%);
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.footer-icon {
  font-size: 24px;
  color: white;
  margin-right: 15px;
  transition: color 0.3s;
}

.footer-icon:hover {
  color: #2563eb;
}
