.mywork {
  padding: 4rem 2rem;
  text-align: center;
  gap: 80px;
  margin: 80px 170px;
  align-items: center;
}

.mywork-title {
  position: relative;
}

.mywork-title h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: white;
}

.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.mywork-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s;
}

.mywork-card:hover {
  transform: translateY(-8px);
}

.mywork-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.mywork-card h2 {
  margin: 1rem 0 0.5rem;
  font-size: 1.4rem;
  color: #111;
}

.mywork-card p {
  font-size: 0.95rem;
  color: #555;
}

.mywork-links a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(270deg, #DF8908 50%, #B414FF 100%);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.mywork-links a:hover {
  border: 2px solid #ff00ff;
  background-image: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
}
